.mk8-table {
  width: fit-content;
  margin: auto;
  background: white;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.align-right {
  text-align: right;
}

.align-centre {
  text-align: center;
}

.odd {
  background-color: rgba(236, 213, 213, 0.2);
}
