.mk8-table {
  width: fit-content;
  margin: auto;
  background: white;
  padding: 10px;
  background-color: aliceblue;
}

.align-right {
  text-align: right;
}

.align-centre {
  text-align: center;
}

.odd {
  background-color: rgba(192, 192, 192, 0.2);
}
