.gallery-image img {
  width: 600px;
  transition: width 0.5s ease;
}

.gallery-image .details {
  display: none;
}

.gallery-image.selected img {
  width: 720px;
}

.gallery-image.selected .details {
  display: inherit;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
